---
http_interactions:
- request:
    method: get
    uri: https://www.themealdb.com/api/json/v1/1/random.php
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "\r\n{\"meals\":[{\"idMeal\":\"52961\",\"strMeal\":\"Budino Di Ricotta\",\"strMealAlternate\":null,\"strCategory\":\"Dessert\",\"strArea\":\"Italian\",\"strInstructions\":\"Mash
        the ricotta and beat well with the egg yolks, stir in the flour, sugar, cinnamon,
        grated lemon rind and the rum and mix well. You can do this in a food processor.
        Beat the egg whites until stiff, fold in and pour into a buttered and floured
        25cm cake tin. Bake in the oven at 180\\u00baC\\/160\\u00baC fan\\/gas 4 for
        about 40 minutes, or until it is firm.\\r\\n\\r\\nServe hot or cold dusted
        with icing sugar.\",\"strMealThumb\":\"https:\\/\\/www.themealdb.com\\/images\\/media\\/meals\\/1549542877.jpg\",\"strTags\":\"Cake,Baking,Desert,Sweet,Alcoholic,Calorific\",\"strYoutube\":\"https:\\/\\/www.youtube.com\\/watch?v=6dzd6Ra6sb4\",\"strIngredient1\":\"Ricotta\",\"strIngredient2\":\"Eggs\",\"strIngredient3\":\"Flour\",\"strIngredient4\":\"Sugar\",\"strIngredient5\":\"Cinnamon\",\"strIngredient6\":\"Lemons\",\"strIngredient7\":\"Dark
        Rum\",\"strIngredient8\":\"Icing Sugar\",\"strIngredient9\":\"\",\"strIngredient10\":\"\",\"strIngredient11\":\"\",\"strIngredient12\":\"\",\"strIngredient13\":\"\",\"strIngredient14\":\"\",\"strIngredient15\":\"\",\"strIngredient16\":\"\",\"strIngredient17\":\"\",\"strIngredient18\":\"\",\"strIngredient19\":\"\",\"strIngredient20\":\"\",\"strMeasure1\":\"500g\",\"strMeasure2\":\"4
        large\",\"strMeasure3\":\"3 tbs\",\"strMeasure4\":\"250g\",\"strMeasure5\":\"1
        tsp \",\"strMeasure6\":\"Grated Zest of 2\",\"strMeasure7\":\"5 tbs\",\"strMeasure8\":\"sprinking\",\"strMeasure9\":\"\",\"strMeasure10\":\"\",\"strMeasure11\":\"\",\"strMeasure12\":\"\",\"strMeasure13\":\"\",\"strMeasure14\":\"\",\"strMeasure15\":\"\",\"strMeasure16\":\"\",\"strMeasure17\":\"\",\"strMeasure18\":\"\",\"strMeasure19\":\"\",\"strMeasure20\":\"\",\"strSource\":\"https:\\/\\/thehappyfoodie.co.uk\\/recipes\\/ricotta-cake-budino-di-ricotta\",\"strImageSource\":null,\"strCreativeCommonsConfirmed\":null,\"dateModified\":null}]}\r\n"
  recorded_at: Tue, 31 Mar 2026 05:53:15 GMT
recorded_with: VCR 6.4.0
